* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: seashell;
}


body {
    font-family: helvetica;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;

}

/* Nav Section */

.nav-links {
    list-style: none;
    display: inline-flex;
}

li {
    padding: 0px 15px;
}

.logo {
    height: 50px;
    margin-left: 10px;
    width: auto;
}

header {
    border-bottom: 1px solid seashell;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    height: 69px;
    
}

/* Mission Section */

h2 {
    text-align: center;
    font-size: 32px;
}

h3 {
    text-align: center;
    font-size: 26px;
}

h4, h5 {
    text-align: center;
}

.container {
    margin-top: auto;
}

#mission {
    display: flex;
    align-items: center;
    margin: 69px auto ;
    height: 700px;
    width: 1200px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    
}

.mission-wrapper {
    background-color: black;
    width: 100%;
}

.mission-wrapper h2, .mission-wrapper h4 {
    padding: 0.6rem;
}

/* Tea of the Month */

.tea-wrapper h2, .tea-wrapper h4 {
    padding: 0.6rem;
}

#tea {
    max-width: 1000px;
    height: auto;
    margin: auto;
}

.img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-item img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

/*locations section*/

#location-background-img {
    max-width: 1200px;
    background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg")
      no-repeat center center;
    background-size: cover;
    margin: 2rem auto;
    height: auto;
  }
  
 #location-container {
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .location-box {
    min-width: 18.75rem;
    max-width: 18.75rem;
    height: 18.75rem;
    background-color: black;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 0 auto;
    margin-bottom: 5rem;
  }
  
 
  
  #location-title {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
  }

  .contact {
    height: 200px;
  }

  .contact h2 {
    margin-bottom: 20px;
  }

  .contact h5 {
    margin-bottom: 20px;
  }

  footer h5{
    text-align: left;
    margin-left: 20px;
  }
